<!DOCTYPE html>

<html>

   <head>
      <title>Incomple_'s API Projects</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>Incomple_'s API Projects:</h2>
        <h3><a href="/timestamp">Timestamp Microservice</a></h3>
        <h3><a href="/requestheaderparser">Request Header Parser Microservice</a></h3>
        <h3><a href="/shorturl">URL Shortener Microservice</a></h3>
        <h3><a href="/fileanalyse">File Metadata Microservice</a></h3>
        <h3><a href="/exercise">Exercise Tracker</a></h3>
        
      </div>
      <div class="footer">
        <p>
          By <a href="https://codepen.io/Incomple_/full/yLOOzVQ">Incomple_</a>
        </p>
        <p>
          Project ideas and graphical elements from <a href="https://www.freecodecamp.org/">FreeCodeCamp</a> 
        </p>
        <p>
          (Improved and personalised visuals under construction)
        </p>
      </div>
   </body>

</html>
