<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="https://raw.githubusercontent.com/Inc0mple/Logos/master/me.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Incomple_'s Portfolio Website</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Script below used to set min view -->
    <script type="text/javascript" src="viewport-min-width.js"></script>
    <link rel="stylesheet" href="portfolioStyle2.css" />
  </head>
  <body>
    <nav id="navbar" class="backgroundDiv">
      <div id="navNameDiv" class="navDiv">
        <a class="selfLink" id="navName" href="https://inc0mple-portfolio.herokuapp.com/">Bryan Tan (Chen Zhengyu)</a>
      </div>
      <div id="navButtonDiv" class="navDiv">
        <a class="navButton selfLink" href="#about">About</a>
        <a class="navButton selfLink" href="#skills">Skills</a>
        <a class="navButton selfLink" href="#portfolio">Portfolio</a>
        <a class="navButton selfLink" href="#contact">Contact</a>
      </div>
    </nav>

    <!--Welcome section must be 100% viewport height-->
    <section id="about" class="backgroundDiv">
      <video autoplay muted loop class="backgroundVideo">
        <source src="/assets/bgVid.mp4" type="video/mp4" />
      </video>
      <div id="aboutDiv">
        <h1 id="aboutTitle" class="heroTitle">Welcome to my project site</h1>
        <p id="aboutDescription" class="heroText">
          I am an Undergraduate from the Singapore University of Technology and Design (SUTD) pursuing a Computer Science degree in the Artificial Intelligence
          and Data Analytics Track with a minor in Digital Humanities and Health Informatics. My interest in applied ML research has led me to participate in several healthcare-related AI/ML
          projects through SUTD's Undergraduate Research Opportunity Programmes (UROP).
        </p>
        <br>
        <br>
        <p id="aboutDescription" class="heroText"> When I am not busy tackling data science challenges, I like to play the piano,
          keep up to date on the latest internet pop-culture trends and watch interesting scientific and historical documentaries about topics that are completely out of my depth.
        </p>
        <br>
        <br>
        <p id="aboutDescription" class="heroText">This site showcases projects done
          thus far in my path towards achieving proficiency in Technology and Design.
        </p>
      </div>
    </section>

    <div class="sectionBreak backgroundDiv"></div>

    <section id="skills" class="backgroundDiv">
      <div id="skillsTitleDiv">
        <h1 id="skillsTitle">Skills and Technologies</h1>
      </div>
      <div id="skillsContainer">
        <div class="skillsBox">
          <h2 class="skillsSubheading">Front-End</h2>
          <div class="skillsIconContainer">
            <a class="iconLink" href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank"><img class="skillsIcon" src="assets/html5.png"></img></a>
            <a class="iconLink" href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"><img class="skillsIcon" src="assets/css3.png"></img></a>
            <a class="iconLink" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img class="skillsIcon" src="assets/javascript.png"></img></a>
            <a class="iconLink" href="https://nextjs.org/" target="_blank"><img class="skillsIcon" src="assets/next.png"></img></a>
            <a class="iconLink" href="https://getbootstrap.com/" target="_blank"><img class="skillsIcon" src="assets/bootstrap.png"></img></a>
            <a class="iconLink" href="https://d3js.org/" target="_blank"><img class="skillsIcon" src="assets/d3.png"></img></a>
            <a class="iconLink" href="https://jquery.com/" target="_blank"><img class="skillsIcon" src="assets/jquery2.png"></img></a>
            <a class="iconLink" href="https://reactjs.org/" target="_blank"><img class="skillsIcon" src="assets/react.png"></img></a>
          </div>
          <p class="skillsDescription">
            I have exposure to some popular front-end
            frameworks like Bootstrap, React and Next. Utilised
            in D3 and Streamlit for data visualisation in JavaScript and Python
            respectively.
          </p>
        </div>
        <div class="skillsBox">
          <h2 class="skillsSubheading">Back-End</h2>
          <div class="skillsIconContainer">
            <a class="iconLink" href="https://www.python.org/" target="_blank"><img class="skillsIcon" src="assets/python.png"></img></a>
            <a class="iconLink" href="https://streamlit.io/" target="_blank"><img class="skillsIcon" src="assets/streamlit.png"></img></a>
            <a class="iconLink" href="https://cloud.google.com/" target="_blank"><img class="skillsIcon" src="assets/googlecloud.png"></img></a>
            <a class="iconLink" href="https://en.wikipedia.org/wiki/SQL" target="_blank"><img class="skillsIcon" src="assets/sql.png"></img></a>
            <a class="iconLink" href="https://www.mongodb.com/" target="_blank"><img class="skillsIcon" src="assets/mongodb.png"></img></a>
            <a class="iconLink" href="https://www.heroku.com/" target="_blank"><img class="skillsIcon" src="assets/heroku.png"></img></a>
            <a class="iconLink" href="https://nodejs.org/en/about/" target="_blank"><img class="skillsIcon doubleSize" src="assets/nodejs.png"></img></a>
            <a class="iconLink" href="https://www.npmjs.com/get-npm" target="_blank"><img class="skillsIcon doubleSize" src="assets/npm.png"></img></a>
          </div>
          <p class="skillsDescription">
            Most full-stack projects utilise NodeJS for server
            routing and MongoDB for database storage, with Python being used for
            AI-related projects. This website (as of September 2022) and all
            most full-stack projects are currently hosted on Heroku while others
            are hosted on Google Cloud.
          </p>
        </div>
        <div class="skillsBox">
          <h2 class="skillsSubheading">Others</h2>
          <div class="skillsIconContainer">
            <a class="iconLink" href="https://code.visualstudio.com/" target="_blank"><img class="skillsIcon" src="assets/vscode.png"></img></a>
            <a class="iconLink" href="https://git-scm.com/" target="_blank"><img class="skillsIcon" src="assets/git.png"></img></a>
            <a class="iconLink" href="https://github.com/" target="_blank"><img class="skillsIcon" src="assets/githubColor.png"></img></a>
            <a class="iconLink" href="https://www.microsoft.com/en-sg/microsoft-365/word" target="_blank"><img class="skillsIcon" src="assets/msword.png"></img></a>
            <a class="iconLink" href="https://www.microsoft.com/en-us/microsoft-365/excel" target="_blank"><img class="skillsIcon" src="assets/msexcel.png"></img></a>
            <a class="iconLink" href="https://www.microsoft.com/en-us/microsoft-365/powerpoint" target="_blank"><img class="skillsIcon" src="assets/mspowerpoint.png"></img></a>
            <a class="iconLink" href="https://www.adobe.com/sea/products/xd.html" target="_blank"><img class="skillsIcon" src="assets/adobexd.png"></img></a>
            <a class="iconLink" href="https://www.adobe.com/sea/products/illustrator.html" target="_blank"><img class="skillsIcon" src="assets/adobeillustrator.png"></img></a>
          </div>
          <p class="skillsDescription">
            As my preferred code editor, VS Code has been used for all projects done
            after my transition from Code Pen, during which I learnt the basics
            of Git and GitHub. I have used Microsoft Office software extensively
            in the past, and have picked up on Adobe Creative Cloud
            Software to aid in design.
          </p>
        </div>
      </div>
    </section>

    <div class="sectionBreak backgroundDiv"></div>

    <section id="portfolio" class="backgroundDiv">
      <h1 id="portfolioTitle">Portfolio</h1>
      <div id="portfolioContainer">
        <div id="filterDiv">
          <button id="showall" onclick="filterProjectBox('showall')" class="filterButton activeFilter">Show All</button>
          <button id="python" onclick="filterProjectBox('python')" class="filterButton">Python</button>
          <button id="javascript" onclick="filterProjectBox('javascript')" class="filterButton">JavaScript</button>
          <button id="csharp" onclick="filterProjectBox('csharp')" class="filterButton">C#</button>
          <button id="frontend" onclick="filterProjectBox('frontend')" class="filterButton">Frontend</button>
          <button id="backend" onclick="filterProjectBox('backend')" class="filterButton">Backend</button>
          <button id="ai" onclick="filterProjectBox('ai')" class="filterButton">Artifical Intelligence</button>
          <button id="cloud" onclick="filterProjectBox('cloud')" class="filterButton">Cloud</button>
          <button id="nlp" onclick="filterProjectBox('nlp')" class="filterButton">Natural Language Processing</button>
          <button id="cv" onclick="filterProjectBox('cv')" class="filterButton">Computer Vision</button>
          <button id="research" onclick="filterProjectBox('research')" class="filterButton">Research</button>
          <button id="game" onclick="filterProjectBox('game')" class="filterButton">Game</button>
          <button id="python" onclick="filterProjectBox('research')" class="filterButton">Research</button>
          <button id="react" onclick="filterProjectBox('react')" class="filterButton">React</button>
          <button id="mongodb" onclick="filterProjectBox('mongodb')" class="filterButton">MongoDB</button>
          <button id="viz" onclick="filterProjectBox('viz')" class="filterButton">Data Visualisation</button>
        </div>
        <div id="projectGrid">
          <div class="projectBox research python viz">
            <a class="projectLink" href="https://www.jacc.org/doi/abs/10.1016/S0735-1097(22)02980-1" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/abstract.png"></img></a>
            <h3 class="projectTitle">Biomedical Data Analysis</h3>
            <p class="projectText">Applied ML techniques on a biomedical dataset comprising 86 elderlies and co-authored an abstract which was accepted into ACC.22.</p>
            <a class="projectButtonLink" href="https://www.jacc.org/doi/abs/10.1016/S0735-1097(22)02980-1"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox backend ai python cloud nlp">
            <a class="projectLink" href="https://github.com/Inc0mple/emo-tele-bot" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/linkedinArticleHeader2.png"></img></a>
            <h3 class="projectTitle">EmotionBot (Telegram)</h3>
            <p class="projectText">Telegram Bot that analyses a given text and returns the top 5 emotions evoked. Utilises HuggingFace inference API.</p>
            <a class="projectButtonLink" href="https://github.com/Inc0mple/emo-tele-bot"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox streamlit backend frontend ai python cv">
            <a class="projectLink" href="https://github.com/Inc0mple/smarteye_app" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/healtheye.png"></img></a>
            <h3 class="projectTitle">SmartEye/HealthEye</h3>
            <p class="projectText">Streamlit webapp. Uses device's cameras to perform CV tasks such as fall detection, pose estimation and sign-language recognition.</p>
            <a class="projectButtonLink" href="https://github.com/Inc0mple/smarteye_app"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox research ai python cv viz">
            <a class="projectLink" href="https://drive.google.com/file/d/15YRLKOt4eFRWA6BqfxGUsHDcGhZBP_Ti/view?usp=sharingN" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/Explainable_AI_Screencap.png"></img></a>
            <h3 class="projectTitle">Explainable AI</h3>
            <p class="projectText">Exploration of Explainable AI (XAI) techniques including LIME, SHAP and LRP. Featured in SUTD Learning Celebration Carnival 2022.</p>
            <a class="projectButtonLink" href="https://drive.google.com/file/d/15YRLKOt4eFRWA6BqfxGUsHDcGhZBP_Ti/view?usp=sharingN"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox research ai python cv viz">
            <a class="projectLink" href="https://www.linkedin.com/in/incomple/overlay/1635486106043/single-media-viewer/" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/Urban%20Analytics.jpg"></img></a>
            <h3 class="projectTitle">Urban AI Analytics</h3>
            <p class="projectText">Extracted useful metrics from unlabeled video datasets using Pandas, Seaborn, YOLOv5 and DeepLabV3.</p>
            <a class="projectButtonLink" href="https://www.linkedin.com/in/incomple/overlay/1635486106043/single-media-viewer/"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox backend ai python cv">
            <a class="projectLink" href="https://drive.google.com/file/d/1JGCuGIx05fgDsGYyrR-0iSYMJmlcZSuV/view?usp=sharing" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/dti.png"></img></a>
            <h3 class="projectTitle">Helios: CV with RPi 3 </h3>
            <p class="projectText">Tech Lead for project utilising RPi 3 and CV to count people and perform social distancing using a novel light fixture.</p>
            <a class="projectButtonLink" href="https://drive.google.com/file/d/1JGCuGIx05fgDsGYyrR-0iSYMJmlcZSuV/view?usp=sharing"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript react">
            <a class="projectLink" href="https://www.linkedin.com/posts/ivanfengjk_sage-sharing-and-gaining-experiences-activity-6968778969626152960-ZVFu?utm_source=share&utm_medium=member_desktop" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/SageWeb.png"></img></a>
            <h3 class="projectTitle">SAGE Web</h3>
            <p class="projectText">Developed Feed page and performed testing for SAGE Experiences, an online knowledge-sharing platform built using the MERN stack.</p>
            <a class="projectButtonLink" href="https://www.linkedin.com/posts/ivanfengjk_sage-sharing-and-gaining-experiences-activity-6968778969626152960-ZVFu?utm_source=share&utm_medium=member_desktop"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox game python">
            <a class="projectLink" href="https://github.com/Inc0mple/DungeonCrawler1DProject" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/dungeonCrawlBackground.png"></img></a>
            <h3 class="projectTitle">Dungeon Crawler</h3>
            <p class="projectText">Text-based Dungeon Crawler game made with Python 3. Hosted on repl.it. Try to find the key and escape the Dungeon.</p>
            <a class="projectButtonLink" href="https://repl.it/@BryanTan3/DungeonCrawler1DProject"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox backend python cloud">
            <a class="projectLink" href="https://github.com/Inc0mple/emo-tele-bot" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/linkedinArticleHeader2.png"></img></a>
            <h3 class="projectTitle">MockingBot (Telegram)</h3>
            <p class="projectText">Telegram Bot that transforms a user's input text.</p>
            <a class="projectButtonLink" href="https://github.com/Inc0mple/emo-tele-bot"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox python javascript nlp ai">
            <a class="projectLink" href="https://github.com/Inc0mple/GoogleNewsSentimentFlask" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/WebappScreenshot.JPG"></img></a>
            <h3 class="projectTitle">GoogleNews Sentiment Analysis</h3>
            <p class="projectText">A work-in-progress data analysis project to analyse and compare news sentiment trends. Currently must be forked and ran locally.</p>
            <a class="projectButtonLink" href="https://github.com/Inc0mple/GoogleNewsSentimentFlask"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox backend frontend javascript mongodb">
            <a class="projectLink" href="/exercise" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/exerciseTrackerBackground.png"></img></a>
            <h3 class="projectTitle">Exercise Tracker Demo</h3>
            <p class="projectText">A simple CRUD (Create, Read, Update, Delete) web app demo, using MongoDB.</p>
            <a class="projectButtonLink" href="/exercise"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript ">
            <a class="projectLink" href="/sudoku" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/chrome_LOOZCXwiZn.png"></img></a>
            <h3 class="projectTitle">Sudoku Solver</h3>
            <p class="projectText">Features a brute-force backtracking sudoku-solving algorithim created from scratch using Javascript.</p>
            <a class="projectButtonLink" href="/sudoku"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox game csharp python ">
            <a class="projectLink" href="https://raw.githubusercontent.com/Inc0mple/Logos/master/game.png" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/game.png"></img></a>
            <h3 class="projectTitle">Game as Python Teaching Tool</h3>
            <p class="projectText">Programmed the foundations of a 2-player card game to teach Python in Unity (C#).</p>
            <a class="projectButtonLink" href="https://raw.githubusercontent.com/Inc0mple/Logos/master/game.png"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox backend frontend javascript mongodb">
            <a class="projectLink" href="/microservices" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/microservicesBackground.png"></img></a>
            <h3 class="projectTitle">Various Microservices</h3>
            <p class="projectText">Shows various microservices I developed while learning back-end web technologies, from URL shortening to file uploading.</p>
            <a class="projectButtonLink" href="/microservices"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/xxVPNqN" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/xxVPNqN/image/large.png"></img></a>
            <h3 class="projectTitle">Random Quote Generator</h3>
            <p class="projectText">Generates a random quote and changes background on click.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/xxVPNqN"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript ">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/jOqZVaG" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/jOqZVaG/image/large.png"></img></a>
            <h3 class="projectTitle">Drum Machine</h3>
            <p class="projectText">Click on elements or use keyboard shortcuts to play the drums.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/jOqZVaG"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/abNqROG" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/abNqROG/image/large.png"></img></a>
            <h3 class="projectTitle">Javascript Calculator</h3>
            <p class="projectText">Simple calculator made using bootstrap buttons and featuring keyboard shortcuts.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/abNqROG"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript react">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/QWNmxvE" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/QWNmxvE/image/large.png"></img></a>
            <h3 class="projectTitle">25 + 5 Clock</h3>
            <p class="projectText">A simple implementation of the React framework. Keeps track of your work/break time and beeps on each interval.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/QWNmxvE"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript ">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/MWyrpZv" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/MWyrpZv/image/large.png"></img></a>
            <h3 class="projectTitle">Markdown Previewer</h3>
            <p class="projectText">Automatically converts text inputs into Markdown format.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/MWyrpZv"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript viz">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/zYqjgbB" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/zYqjgbB/image/large.png"></img></a>
            <h3 class="projectTitle">D3 Bar Chart</h3>
            <p class="projectText">Data visualisation project. Plots the United State's Gross Domestic Product from 1947 - 2015.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/zYqjgbB"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript viz">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/KKzELag" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/KKzELag/image/large.png"></img></a>
            <h3 class="projectTitle">D3 Scatterplot</h3>
            <p class="projectText">Data visualisation project. Highlights cyclists with doping allegations between 1994 - 2015.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/KKzELag"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript viz">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/zYqQWvW" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/zYqQWvW/image/large.png"></img></a>
            <h3 class="projectTitle">D3 Heat Map</h3>
            <p class="projectText">Data visualisation project. Visualises the global land-surface temperature by month from 1753 - 2015 through colored tiles.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/zYqQWvW"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript viz">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/QWELJZj" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/QWELJZj/image/large.png"></img></a>
            <h3 class="projectTitle">D3 Choropleth Map</h3>
            <p class="projectText">Data visualisation project. Shows the level of degree attainment for different counties in the US through graduated color shades.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/QWELJZj"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript viz">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/abZbwxV" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/abZbwxV/image/large.png"></img></a>
            <h3 class="projectTitle">D3 Treemap Diagram</h3>
            <p class="projectText">Data visualisation project. Visualises the amount of money raised for different Kickstarter projects in different categories.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/abZbwxV"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
        </div>
      </div>
    </section>                      

    <div class="sectionBreak backgroundDiv"></div>

    <section id="contact" class="backgroundDiv">
      <div id="contactDiv">
        <h1 id="contactTitle " class="heroTitle">Thanks for Visiting</h1>
        <p id="contactDescription" class="heroText">
          Feel free to contact me via any of the channels below (preferably through email) if you have any enquiries or suggestions. I will periodically add new projects and update existing ones as I continue to learn new skills and technologies.
        </p>
      </div>
    </section>

    <footer class="backgroundDiv">
      <div id="footerTop">
        <div id="footerTopContainer">
          <div id="viewCounter" class="footerTopText">Unique Visitors count: <!-- hitwebcounter Code START -->
            <a href="https://www.hitwebcounter.com" target="_blank">
            <img id="hitTracker" src="https://hitwebcounter.com/counter/counter.php?page=7716575&style=0006&nbdigits=4&type=ip&initCount=0" title="Total Website Hits" Alt="Web Hits"   border="0" /></a>  </div>
          <div id="contactIconsContainer">
            <a class="contactIconLink" href="mailto:bryantanzy@gmail.com" target="_blank"><img class="contactIcon" src="assets/gmail.png"></img></a>
            <a class="contactIconLink" href="https://t.me/Incomple" target="_blank"><img class="contactIcon" src="assets/telegram.png"></img></a>
            <a class="contactIconLink" href="https://wa.me/+6591717824" target="_blank"><img class="contactIcon" src="assets/whatsapp.png"></img></a>
            <a class="contactIconLink" href="https://us04web.zoom.us/j/5631455771?pwd=dkYzM0ZzWCsyZzk0bmV6RndZRjFiZz09" target="_blank"><img class="contactIcon" src="assets/zoom.png"></img></a>
            <a class="contactIconLink" href="https://discord.gg/2JGrwbdCx9" target="_blank"><img class="contactIcon" src="assets/discord.png"></img></a>
          </div>
          <a id="backToTopLink" href=#about class="selfLink" ><div id="backToTop" class="footerTopText"><img class="upArrowIcon" src="assets/greyUpArrow.png"></img>Back to Top</div></a>
        </div>
      </div>
      <div id="footerBottom">
        <div id="footerBottomContainer">
          <p id="createdBy" class=footerBottomText>Created by Bryan Tan (Chen Zhengyu) @Incomple_</p>
          <div id="linkToCode" class="footerBottomBox">
            <p class=footerBottomText>Code for static and full-stack websites can be found on CodePen and GitHub respectively</p>
            <a class="iconLink" href="https://codepen.io/collection/DBGPbm" target="_blank"><img class="codeLinkIcon" src="assets/codepen.png"></img></a>
            <a class="iconLink" href="https://github.com/Inc0mple/HerokuPersonalPortfolio" target="_blank"><img class="codeLinkIcon" src="assets/githubwhite.png"></img></a>
          </div>
          <div id="projectIdeaDiv" class="footerBottomBox">
            <p class=footerBottomText>Project ideas from myself and Free Code Camp</p>
            <a class="iconLink" href="https://www.freecodecamp.org/incomple_" target="_blank"><img id="fccIcon" class="codeLinkIcon" src="assets/freecodecamp.png"></img></a>
          </div>
        </div>
      </div>
    </footer>

    <script>
      prevFilter = "showall"
      function filterProjectBox(inputFilter) {
        console.log(document.getElementsByClassName(inputFilter))
        document.getElementById(prevFilter).classList.remove("activeFilter")
        prevFilter = inputFilter
        document.getElementById(inputFilter).classList.add("activeFilter")
        if (inputFilter == "showall") {

          for (elementIdx in document.getElementsByClassName("projectBox")) {
            // isNaN check is used because elemenentIdx = 'length', 'item' and 'namedItem'
            // at the end of the HTMLCollection object generated my getElementsByClassName
            if (isNaN(elementIdx) == false){
              document.getElementsByClassName("projectBox")[elementIdx].style.display="flex"
            }
          }
        }
        else {
          //console.log(document.getElementsByClassName("projectBox"))
          for (elementIdx in document.getElementsByClassName("projectBox")) {
            //console.log(elementIdx)
            if (isNaN(elementIdx) == false){
              document.getElementsByClassName("projectBox")[elementIdx].style.display="none"
            }
          }
          for (elementIdx in document.getElementsByClassName(inputFilter)) {
            //console.log(document.getElementsByClassName(inputFilter))
            if (isNaN(elementIdx) == false){
              document.getElementsByClassName(inputFilter)[elementIdx].style.display="flex"
            }
          }
        }
      }

    // Smooth scrolling code below courtesy of https://css-tricks.com/snippets/jquery/smooth-scrolling/
    const links = document.querySelectorAll(".selfLink");
 
    for (const link of links) {
      link.addEventListener("click", clickHandler);
    }
      
    function clickHandler(e) {
      e.preventDefault();
      const href = this.getAttribute("href");
      
      document.querySelector(href).scrollIntoView({
        behavior: "smooth"
      });
    }
    </script>
  </body>
</html>
