<head>
    <link rel = "stylesheet"
      href = portfolioStyle.css />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<!--Nav must always be on top of viewport-->
<nav id="navbar">
  <img id="nav-logo" src=""></img>
  <ul id="nav-list">
    <li class="nav-link"><a class="nav-a" href="#welcome-section">About</a></li>
    <li class="nav-link"><a class="nav-a" href="#projects">Projects</a></li>
    <li class="nav-link"><a class="nav-a" href="#profile">Contact</a></li>
  </ul>    
</nav>

<!--Welcome section must be 100% viewport height-->
<section id="welcome-section">
  <div id="welcome-text">
    <h1 class="wtext">Hi there, I am Bryan,</h1>
    <p class="wtext">and this is my personal portfolio</p>
  </div>
</section>

<section id="projects">
  <p class="projtext">Front-end Projects</p>
  <div id="front-end" class="projects-area">
    <div class="project-tile" id="g1">
      <a class="project-link" href="https://codepen.io/Incomple_/full/YzqybxE" target="_blank"><img class="project-img" src="https://codepen.io/Incomple_/pen/YzqybxE/image/large.png"></img></a>
      <a href="https://codepen.io/Incomple_/full/YzqybxE" target="_blank"><button class="project-btn">Tribute Page</button></a>
    </div>
    <div class="project-tile" id="f2">
      <a class="project-link" href="https://codepen.io/Incomple_/full/KKzVbeo" target="_blank"><img class="project-img" src="https://codepen.io/Incomple_/pen/KKzVbeo/image/large.png"></img></a>
      <a href="https://codepen.io/Incomple_/full/KKzVbeo" target="_blank"><button class="project-btn">Survey Form</button></a>
    </div>
    <div class="project-tile" id="f3">
      <a class="project-link" href="https://codepen.io/Incomple_/full/bGppgbz" target="_blank"><img class="project-img" src="https://codepen.io/Incomple_/pen/bGppgbz/image/large.png"></img></a>
      <button class="project-btn" href="https://codepen.io/Incomple_/pen/bGppgbz" target="_blank">Product Landing Page</button>
    </div>
    <div class="project-tile" id="f4">
      <a class="project-link" href="https://codepen.io/Incomple_/full/OJNNpgN" target="_blank"><img class="project-img" src="https://codepen.io/Incomple_/pen/OJNNpgN/image/large.png"></img></a>
      <a href="https://codepen.io/Incomple_/pen/OJNNpgN" target="_blank"><button class="project-btn">Technical Documentation</button></a>
    </div>
    <div class="project-tile" id="f5">
      <a class="project-link" href="https://codepen.io/Incomple_/full/xxVPNqN" target="_blank"><img class="project-img" src="https://codepen.io/Incomple_/pen/xxVPNqN/image/large.png"></img></a>
      <a href="https://codepen.io/Incomple_/full/xxVPNqN" target="_blank"><button class="project-btn">Random Quote Generator</button></a>
    </div>
    <div class="project-tile" id="f6">
      <a class="project-link" href="https://codepen.io/Incomple_/full/jOqZVaG" target="_blank"><img class="project-img" src="https://codepen.io/Incomple_/pen/jOqZVaG/image/large.png"></img></a>
      <a href="https://codepen.io/Incomple_/full/jOqZVaG" target="_blank"><button class="project-btn">Drum Machine</button></a>
    </div>
    <div class="project-tile" id="f7">
      <a class="project-link" href="https://codepen.io/Incomple_/full/MWyrpZv" target="_blank"><img class="project-img" src="https://codepen.io/Incomple_/pen/MWyrpZv/image/large.png"></img></a>
      <a href="https://codepen.io/Incomple_/full/MWyrpZv" target="_blank"><button class="project-btn">Markdown Previewer</button></a>
    </div>
    <div class="project-tile" id="f8">
      <a class="project-link" href="https://codepen.io/Incomple_/full/abNqROG" target="_blank"><img class="project-img" src="https://codepen.io/Incomple_/pen/abNqROG/image/large.png"></img></a>
      <a href="https://codepen.io/Incomple_/full/abNqROG" target="_blank"><button class="project-btn">Javascript Calculator</button></a>
    </div>
    <div class="project-tile" id="f9">
      <a class="project-link" href="https://codepen.io/Incomple_/full/QWNmxvE" target="_blank"><img class="project-img" src="https://codepen.io/Incomple_/pen/QWNmxvE/image/large.png"></img></a>
      <a href="https://codepen.io/Incomple_/full/QWNmxvE" target="_blank"><button class="project-btn">25 + 5 Clock</button></a>
    </div>
    <div class="project-tile" id="f10">
      <a class="project-link" href="https://codepen.io/Incomple_/full/zYqjgbB" target="_blank"><img class="project-img" src="https://codepen.io/Incomple_/pen/zYqjgbB/image/large.png"></img></a>
      <a href="https://codepen.io/Incomple_/full/zYqjgbB" target="_blank"><button class="project-btn">D3 Bar Chart</button></a>
    </div>
    <div class="project-tile" id="f11">
      <a class="project-link" href="https://codepen.io/Incomple_/full/KKzELag" target="_blank"><img class="project-img" src="https://codepen.io/Incomple_/pen/KKzELag/image/large.png"></img></a>
      <a href="https://codepen.io/Incomple_/full/KKzELag" target="_blank"><button class="project-btn">D3 Scatterplot</button></a>
    </div>
    <div class="project-tile" id="f12">
      <a class="project-link" href="https://codepen.io/Incomple_/full/zYqQWvW" target="_blank"><img class="project-img" src="https://codepen.io/Incomple_/pen/zYqQWvW/image/large.png"></img></a>
      <a href="https://codepen.io/Incomple_/full/zYqQWvW" target="_blank"><button class="project-btn">D3 Heat Map</button></a>
    </div>
    <div class="project-tile" id="f13">
      <a class="project-link" href="https://codepen.io/Incomple_/full/QWELJZj" target="_blank"><img class="project-img" src="https://codepen.io/Incomple_/pen/QWELJZj/image/large.png"></img></a>
      <a href="https://codepen.io/Incomple_/full/QWELJZj" target="_blank"><button class="project-btn">D3 Choropleth Map</button></a>
    </div>
    <div class="project-tile" id="f14">
      <a class="project-link" href="https://codepen.io/Incomple_/full/abZbwxV" target="_blank"><img class="project-img" src="https://codepen.io/Incomple_/pen/abZbwxV/image/large.png"></img></a>
      <a href="https://codepen.io/Incomple_/full/abZbwxV" target="_blank"><button class="project-btn">D3 Treemap Diagram</button></a>
    </div>
    <div class="project-tile" id="f15">
      <a class="project-link" href="/sudoku" target="_blank"><img class="project-img" src=""></img></a>
      <a href="" target="_blank"><button class="project-btn">Sudoku Solver</button></a>
    </div>
    <div class="project-tile" id="f16">
        <a class="project-link" href="" target="_blank"><img class="project-img" src=""></img></a>
        <a href="" target="_blank"><button class="project-btn">Coming Soon!</button></a>
      </div>
  </div>
  <p class="projtext">Back-end Projects</p>
  <div id="back-end" class="projects-area">
    <div class="project-tile" id="b1">
      <a class="project-link" href="/fileanalyse" target="_blank"><img class="project-img" src=""></img></a>
      <a href="/fileanalyse" target="_blank"><button class="project-btn">File Analyser</button></a>
    </div>
    <div class="project-tile" id="b2">
        <a class="project-link" href="/exercise" target="_blank"><img class="project-img" src=""></img></a>
        <a href="/exercise" target="_blank"><button class="project-btn">Exercise Tracker</button></a>
      </div>
      <div class="project-tile" id="b3">
        <a class="project-link" href="/shorturl" target="_blank"><img class="project-img" src=""></img></a>
        <a href="/shorturl" target="_blank"><button class="project-btn">URL Shortener</button></a>
      </div>
      <div class="project-tile" id="b4">
        <a class="project-link" href="/library" target="_blank"><img class="project-img" src=""></img></a>
        <a href="/library" target="_blank"><button class="project-btn">Library</button></a>
      </div>
      <div class="project-tile" id="b5">
        <a class="project-link" href="/index" target="_blank"><img class="project-img" src=""></img></a>
        <a href="/index" target="_blank"><button class="project-btn">Coming Soon!</button></a>
      </div>
  </div>
  <div id="improvement-list">
    List of improvements to make:
      <ul >
        <li class="improvement">Add react elements in Personal Portfolio to allow me to easily edit it without tinkering with HTML</li>
        <li class="improvement">Modernise tribute page design</li>
        <li class="improvement">Make survey form scalable on mobile and functional, perhaps through bootstrap</li>
        <li class="improvement">Allow for repeated presses in quick succession on drum machine buttons</li>
        <li class="improvement">Make window bar for markdown previewer</li>
        <li class="improvement">Make markdown previewer resizable and draggable</li>
        <li class="improvement">Make media query and window bar for markdown previewer</li>
        <li class="improvement">Host these websites on my own instead of using CodePen</li>
        <li class="improvement">Beautify D3 Graphs</li>
        <li class="improvement">Make local version of Choropleth Map</li>
      </ul>
    </div>
</section>

<section id="profile">
  <p id="ptext">Thanks for visiting! You can find me here:<p>
  <a class="contact-link" href="mailto: bryantanzy@gmail.com" target="_blank"><img class="contact-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Email_icon.svg/768px-Email_icon.svg.png"></img></a>
  <a class="contact-link" href="tg://resolve?domain=Incomple" target="_blank"><img class="contact-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/768px-Telegram_2019_Logo.svg.png"></img></a>
  <a class="contact-link" href="https://wa.me/6591717824" target="_blank"><img class="contact-img" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"></img></a>
  <a id= "profile-link" class="contact-link" href="https://www.freecodecamp.org/incomple_" target="_blank"><img class="contact-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Cib-freecodecamp_%28CoreUI_Icons_v1.0.0%29.svg/500px-Cib-freecodecamp_%28CoreUI_Icons_v1.0.0%29.svg.png"></img></a>
  
</section>