<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EL5HHJY5RM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-EL5HHJY5RM');
    </script>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'G-EL5HHJY5RM', 'auto');
      ga(function(tracker) {
        // Logs the tracker created above to the console.
        console.log(tracker);
      });
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Portfolio</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Script below used to set min view -->
    <script type="text/javascript" src="viewport-min-width.js"></script>
    <link rel="stylesheet" href="portfolioStyle2.css" />
  </head>
  <body>
    <nav id="navbar" class="backgroundDiv">
      <div id="navNameDiv" class="navDiv">
        <a class="selfLink" id="navName" href="https://inc0mple-portfolio.herokuapp.com/">Bryan Tan (Chen Zhengyu)</a>
      </div>
      <div id="navButtonDiv" class="navDiv">
        <a class="navButton selfLink" href="#about">About</a>
        <a class="navButton selfLink" href="#skills">Skills</a>
        <a class="navButton selfLink" href="#portfolio">Portfolio</a>
        <a class="navButton selfLink" href="#contact">Contact</a>
      </div>
    </nav>

    <!--Welcome section must be 100% viewport height-->
    <section id="about" class="backgroundDiv">
      <video autoplay muted loop class="backgroundVideo">
        <source src="/assets/bgVid.mp4" type="video/mp4" />
      </video>
      <div id="aboutDiv">
        <h1 id="aboutTitle" class="heroTitle">Welcome to my project site</h1>
        <p id="aboutDescription" class="heroText">
          You are either a random friend or family member who had the misfortune
          to be pestered for an opinion, or a recruiter who had the fortune to
          be referred here for a look at my portfolio. Since you are already here anyway, might as well
          take a look at my stuff. This site
          showcases projects done thus far in my path towards achieving
          proficiency in Technology ( and a passable grasp of Design ).
        </p>
      </div>
    </section>

    <div class="sectionBreak backgroundDiv"></div>

    <section id="skills" class="backgroundDiv">
      <div id="skillsTitleDiv">
        <h1 id="skillsTitle">Skills and Technologies</h1>
      </div>
      <div id="skillsContainer">
        <div class="skillsBox">
          <h2 class="skillsSubheading">Front-End</h2>
          <div class="skillsIconContainer">
            <a class="iconLink" href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank"><img class="skillsIcon" src="assets/html5.png"></img></a>
            <a class="iconLink" href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"><img class="skillsIcon" src="assets/css3.png"></img></a>
            <a class="iconLink" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img class="skillsIcon" src="assets/javascript.png"></img></a>
            <a class="iconLink" href="https://getbootstrap.com/" target="_blank"><img class="skillsIcon" src="assets/bootstrap.png"></img></a>
            <a class="iconLink" href="https://d3js.org/" target="_blank"><img class="skillsIcon" src="assets/d3.png"></img></a>
            <a class="iconLink" href="https://jquery.com/" target="_blank"><img class="skillsIcon" src="assets/jquery2.png"></img></a>
            <a class="iconLink" href="https://reactjs.org/" target="_blank"><img class="skillsIcon" src="assets/react.png"></img></a>
          </div>
          <p class="skillsDescription">
            Most of my projects contain HTML, CSS and ES6 JavaScript and the
            occasional jQuery. I have exposure to some popular front-end
            frameworks like Bootstrap and React, though there is much room for
            improvement with regards to their practical implementations. Dabbled
            in D3 as well for data visualisation in JavaScript.
          </p>
        </div>
        <div class="skillsBox">
          <h2 class="skillsSubheading">Back-End</h2>
          <div class="skillsIconContainer">
            <a class="iconLink" href="https://www.python.org/" target="_blank"><img class="skillsIcon" src="assets/python.png"></img></a>
            <a class="iconLink" href="https://www.mongodb.com/" target="_blank"><img class="skillsIcon" src="assets/mongodb.png"></img></a>
            <a class="iconLink" href="https://www.heroku.com/" target="_blank"><img class="skillsIcon" src="assets/heroku.png"></img></a>
            <a class="iconLink" href="https://nodejs.org/en/about/" target="_blank"><img class="skillsIcon doubleSize" src="assets/nodejs.png"></img></a>
            <a class="iconLink" href="https://www.npmjs.com/get-npm" target="_blank"><img class="skillsIcon doubleSize" src="assets/npm.png"></img></a>
          </div>
          <p class="skillsDescription">
            All my full-stack projects currently utilise NodeJS for server
            routing and MongoDB for database storage, with Python being used for
            AI-related projects. This website (as of November 2020) and all
            full-stack projects are currently hosted on Heroku, a cloud platform
            which I spent much of my time debugging when attempting deployment.
          </p>
        </div>
        <div class="skillsBox">
          <h2 class="skillsSubheading">Others</h2>
          <div class="skillsIconContainer">
            <a class="iconLink" href="https://code.visualstudio.com/" target="_blank"><img class="skillsIcon" src="assets/vscode.png"></img></a>
            <a class="iconLink" href="https://git-scm.com/" target="_blank"><img class="skillsIcon" src="assets/git.png"></img></a>
            <a class="iconLink" href="https://github.com/" target="_blank"><img class="skillsIcon" src="assets/githubColor.png"></img></a>
            <a class="iconLink" href="https://www.microsoft.com/en-sg/microsoft-365/word" target="_blank"><img class="skillsIcon" src="assets/msword.png"></img></a>
            <a class="iconLink" href="https://www.microsoft.com/en-us/microsoft-365/excel" target="_blank"><img class="skillsIcon" src="assets/msexcel.png"></img></a>
            <a class="iconLink" href="https://www.microsoft.com/en-us/microsoft-365/powerpoint" target="_blank"><img class="skillsIcon" src="assets/mspowerpoint.png"></img></a>
            <a class="iconLink" href="https://www.adobe.com/sea/products/xd.html" target="_blank"><img class="skillsIcon" src="assets/adobexd.png"></img></a>
            <a class="iconLink" href="https://www.adobe.com/sea/products/illustrator.html" target="_blank"><img class="skillsIcon" src="assets/adobeillustrator.png"></img></a>
          </div>
          <p class="skillsDescription">
            As my preferred IDE, VS Code has been used for all projects done
            after my transition from Code Pen, during which I learnt the basics
            of Git and GitHub. I have used Microsoft Office software extensively
            in the past, and recently started to pick up Adobe Creative Cloud
            Software to aid in design.
          </p>
        </div>
      </div>
    </section>

    <div class="sectionBreak backgroundDiv"></div>

    <section id="portfolio" class="backgroundDiv">
      <h1 id="portfolioTitle">Portfolio</h1>
      <div id="portfolioContainer">
        <div id="filterDiv">
          <button id="showall" onclick="filterProjectBox('showall')" class="filterButton activeFilter">Show All</button>
          <button id="frontend" onclick="filterProjectBox('frontend')" class="filterButton">Front-End</button>
          <button id="fullstack" onclick="filterProjectBox('fullstack')" class="filterButton">Full-Stack</button>
          <button id="javascript" onclick="filterProjectBox('javascript')" class="filterButton">Javascript</button>
          <button id="react" onclick="filterProjectBox('react')" class="filterButton">React</button>
          <button id="bootstrap" onclick="filterProjectBox('bootstrap')" class="filterButton">Bootstrap</button>
          <button id="python" onclick="filterProjectBox('python')" class="filterButton">Python</button>
          <button id="mongodb" onclick="filterProjectBox('mongodb')" class="filterButton">MongoDb</button>
          <button id="d3" onclick="filterProjectBox('d3')" class="filterButton">D3</button>
        </div>
        <div id="projectGrid">
          <div class="projectBox frontend">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/YzqybxE" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/YzqybxE/image/large.png"></img></a>
            <h3 class="projectTitle">Tribute Page</h3>
            <p class="projectText">The very first website I made, featuring a simple design. Marks the beginning of my web development learning journey.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/YzqybxE"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/KKzVbeo" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/KKzVbeo/image/large.png"></img></a>
            <h3 class="projectTitle">Survey Form</h3>
            <p class="projectText">Project used for learning to create interactive elements. Currently non-functional, with plans for added functionality after learning PHP.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/KKzVbeo"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/bGppgbz" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/bGppgbz/image/large.png"></img></a>
            <h3 class="projectTitle">Product Landing Page</h3>
            <p class="projectText">My first mockup of a product landing site. Improvable.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/bGppgbz"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/OJNNpgN" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/OJNNpgN/image/large.png"></img></a>
            <h3 class="projectTitle">Technical Documentation</h3>
            <p class="projectText">Text-heavy website incorporating responsive design (auto-adjusting elements, media queries etc.).</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/OJNNpgN"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/xxVPNqN" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/xxVPNqN/image/large.png"></img></a>
            <h3 class="projectTitle">Random Quote Generator</h3>
            <p class="projectText">My first website incorporating Javascript. Generates a random quote and changes background on click.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/xxVPNqN"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript ">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/jOqZVaG" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/jOqZVaG/image/large.png"></img></a>
            <h3 class="projectTitle">Drum Machine</h3>
            <p class="projectText">Click on elements or use keyboard shortcuts to play the drums.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/jOqZVaG"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript ">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/MWyrpZv" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/MWyrpZv/image/large.png"></img></a>
            <h3 class="projectTitle">Markdown Previewer</h3>
            <p class="projectText">Automatically converts text inputs into Markdown format.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/MWyrpZv"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript bootstrap">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/abNqROG" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/abNqROG/image/large.png"></img></a>
            <h3 class="projectTitle">Javascript Calculator</h3>
            <p class="projectText">Simple calculator made using bootstrap buttons and featuring keyboard shortcuts.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/abNqROG"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript react">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/QWNmxvE" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/QWNmxvE/image/large.png"></img></a>
            <h3 class="projectTitle">25 + 5 Clock</h3>
            <p class="projectText">A simple implementation of the React framework. Keeps track of your work/break time and beeps on each interval.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/QWNmxvE"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript d3">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/zYqjgbB" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/zYqjgbB/image/large.png"></img></a>
            <h3 class="projectTitle">D3 Bar Chart</h3>
            <p class="projectText">Data visualisation project. Plots the United State's Gross Domestic Product from 1947 - 2015.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/zYqjgbB"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript d3">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/KKzELag" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/KKzELag/image/large.png"></img></a>
            <h3 class="projectTitle">D3 Scatterplot</h3>
            <p class="projectText">Data visualisation project. Highlights cyclists with doping allegations between 1994 - 2015.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/KKzELag"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript d3">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/zYqQWvW" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/zYqQWvW/image/large.png"></img></a>
            <h3 class="projectTitle">D3 Heat Map</h3>
            <p class="projectText">Data visualisation project. Visualises the global land-surface temperature by month from 1753 - 2015 through colored tiles.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/zYqQWvW"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript d3">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/QWELJZj" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/QWELJZj/image/large.png"></img></a>
            <h3 class="projectTitle">D3 Choropleth Map</h3>
            <p class="projectText">Data visualisation project. Shows the level of degree attainment for different counties in the US through graduated color shades.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/QWELJZj"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript d3">
            <a class="projectLink" href="https://codepen.io/Incomple_/full/abZbwxV" target="_blank"><img class="projectImg" src="https://codepen.io/Incomple_/pen/abZbwxV/image/large.png"></img></a>
            <h3 class="projectTitle">D3 Treemap Diagram</h3>
            <p class="projectText">Data visualisation project. Visualises the amount of money raised for different Kickstarter projects in different categories.</p>
            <a class="projectButtonLink" href="https://codepen.io/Incomple_/full/abZbwxV"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox frontend javascript ">
            <a class="projectLink" href="/sudoku" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/chrome_LOOZCXwiZn.png"></img></a>
            <h3 class="projectTitle">Sudoku Solver</h3>
            <p class="projectText">Features a brute-force backtracking sudoku-solving algorithim created using from scratch using Javascript.</p>
            <a class="projectButtonLink" href="/sudoku"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox fullstack javascript mongodb">
            <a class="projectLink" href="/microservices" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/microservicesBackground.png"></img></a>
            <h3 class="projectTitle">Various Microservices</h3>
            <p class="projectText">Shows various microservices I developed while learning back-end web technologies, from URL shortening to file uploading.</p>
            <a class="projectButtonLink" href="/microservices"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox fullstack javascript mongodb">
            <a class="projectLink" href="/exercise" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/exerciseTrackerBackground.png"></img></a>
            <h3 class="projectTitle">Exercise Tracker</h3>
            <p class="projectText">A simple CRUD (Create, Read, Update, Delete) web app demo, using MongoDB.</p>
            <a class="projectButtonLink" href="/exercise"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox fullstack javascript python">
            <a class="projectLink" href="/keypoints" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/keypointsBackground2.png"></img></a>
            <h3 class="projectTitle">ML Pose Estimation</h3>
            <p class="projectText">Uses a trained Neutral Network to visualise and estimate the pose of humans. Works best with full-body images of a few people.</p>
            <a class="projectButtonLink" href="/keypoints"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
          <div class="projectBox python">
            <a class="projectLink" href="https://repl.it/@BryanTan3/DungeonCrawler1DProject" target="_blank"><img class="projectImg" src="https://raw.githubusercontent.com/Inc0mple/Logos/master/dungeonCrawlBackground.png"></img></a>
            <h3 class="projectTitle">Dungeon Crawler</h3>
            <p class="projectText">Text-based Dungeon Crawler game made with Python 3. Hosted on repl.it.</p>
            <a class="projectButtonLink" href="https://repl.it/@BryanTan3/DungeonCrawler1DProject"><button class="projectButton"><p class="buttonText">More</p><img class="rightArrowIcon" src="assets/rightArrow.png"></img></button></a>
          </div>
        </div>
      </div>
    </section>                      

    <div class="sectionBreak backgroundDiv"></div>

    <section id="contact" class="backgroundDiv">
      <div id="contactDiv">
        <h1 id="contactTitle " class="heroTitle">Thanks for Visiting</h1>
        <p id="contactDescription" class="heroText">
          Feel free to contact me via any of the channels below (preferably through email) if you have any enquiries or suggestions. I will periodically add new projects and update existing ones as I continue to learn new skills and technologies.
        </p>
      </div>
    </section>

    <footer class="backgroundDiv">
      <div id="footerTop">
        <div id="footerTopContainer">
          <div id="viewCounter" class="footerTopText">Unique Visitors count: <!-- hitwebcounter Code START -->
            <a href="https://www.hitwebcounter.com" target="_blank">
            <img id="hitTracker" src="https://hitwebcounter.com/counter/counter.php?page=7716312&style=0007&nbdigits=4&type=ip&initCount=0" title="Total Website Hits" Alt="Web Hits" border="0" /></a></div>
          <div id="contactIconsContainer">
            <a class="iconLink" href="mailto:bryantanzy@gnmail.com" target="_blank"><img class="contactIcon" src="assets/gmail.png"></img></a>
            <a class="iconLink" href="https://t.me/Incomple" target="_blank"><img class="contactIcon" src="assets/telegram.png"></img></a>
            <a class="iconLink" href="https://wa.me/+6591717824" target="_blank"><img class="contactIcon" src="assets/whatsapp.png"></img></a>
            <a class="iconLink" href="https://us04web.zoom.us/j/5631455771?pwd=dkYzM0ZzWCsyZzk0bmV6RndZRjFiZz09" target="_blank"><img class="contactIcon" src="assets/zoom.png"></img></a>
            <a class="iconLink" href="https://discord.gg/2JGrwbdCx9" target="_blank"><img class="contactIcon" src="assets/discord.png"></img></a>
          </div>
          <a id="backToTopLink" href=#about class="selfLink" ><div id="backToTop" class="footerTopText"><img class="upArrowIcon" src="assets/greyUpArrow.png"></img>Back to Top</div></a>
        </div>
      </div>
      <div id="footerBottom">
        <div id="footerBottomContainer">
          <p id="createdBy" class=footerBottomText>Created by Bryan Tan (Chen Zhengyu) @Incomple_</p>
          <div id="linkToCode" class="footerBottomBox">
            <p class=footerBottomText>Code for static and full-stack websites can be found on CodePen and GitHub respectively</p>
            <a class="iconLink" href="https://codepen.io/collection/DBGPbm" target="_blank"><img class="codeLinkIcon" src="assets/codepen.png"></img></a>
            <a class="iconLink" href="https://github.com/Inc0mple/HerokuPersonalPortfolio" target="_blank"><img class="codeLinkIcon" src="assets/githubwhite.png"></img></a>
          </div>
          <div id="projectIdeaDiv" class="footerBottomBox">
            <p class=footerBottomText>Project ideas from myself and Free Code Camp</p>
            <a class="iconLink" href="https://www.freecodecamp.org/incomple_" target="_blank"><img id="fccIcon" class="codeLinkIcon" src="assets/freecodecamp.png"></img></a>
          </div>
        </div>
      </div>
    </footer>

    <script>
      prevFilter = "showall"
      function filterProjectBox(inputFilter) {
        console.log(document.getElementsByClassName(inputFilter))
        document.getElementById(prevFilter).classList.remove("activeFilter")
        prevFilter = inputFilter
        document.getElementById(inputFilter).classList.add("activeFilter")
        if (inputFilter == "showall") {

          for (elementIdx in document.getElementsByClassName("projectBox")) {
            // isNaN check is used because elemenentIdx = 'length', 'item' and 'namedItem'
            // at the end of the HTMLCollection object generated my getElementsByClassName
            if (isNaN(elementIdx) == false){
              document.getElementsByClassName("projectBox")[elementIdx].style.display="flex"
            }
          }
        }
        else {
          //console.log(document.getElementsByClassName("projectBox"))
          for (elementIdx in document.getElementsByClassName("projectBox")) {
            //console.log(elementIdx)
            if (isNaN(elementIdx) == false){
              document.getElementsByClassName("projectBox")[elementIdx].style.display="none"
            }
          }
          for (elementIdx in document.getElementsByClassName(inputFilter)) {
            //console.log(document.getElementsByClassName(inputFilter))
            if (isNaN(elementIdx) == false){
              document.getElementsByClassName(inputFilter)[elementIdx].style.display="flex"
            }
          }
        }
      }

    // Smooth scrolling code below courtesy of https://css-tricks.com/snippets/jquery/smooth-scrolling/
    const links = document.querySelectorAll(".selfLink");
 
    for (const link of links) {
      link.addEventListener("click", clickHandler);
    }
      
    function clickHandler(e) {
      e.preventDefault();
      const href = this.getAttribute("href");
      
      document.querySelector(href).scrollIntoView({
        behavior: "smooth"
      });
    }
    </script>
  </body>
</html>
