<!DOCTYPE html>
<html>
  <head>
    <title>Sudoku Solver</title>
    <meta
      name="description"
      content="An example for the fCC QA Sudoku Solver project"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="sudokuStyle.css" />
  </head>
  <body>
    <header>
      <h1 id="title">Sudoku Solver</h1>
    </header>

    <hr style="margin: 25px" />
    <div id="loader"></div>
    <div id="container">
      <div id="sudoku-grid">
        <table class="grid">
          <tbody>
            <tr>
              <td class="A1">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="A1"
                  class="sudoku-input"
                />
              </td>
              <td class="A2">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="A2"
                  class="sudoku-input"
                />
              </td>
              <td class="A3">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="A3"
                  class="sudoku-input"
                />
              </td>
              <td class="A4">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="A4"
                  class="sudoku-input"
                />
              </td>
              <td class="A5">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="A5"
                  class="sudoku-input"
                />
              </td>
              <td class="A6">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="A6"
                  class="sudoku-input"
                />
              </td>
              <td class="A7">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="A7"
                  class="sudoku-input"
                />
              </td>
              <td class="A8">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="A8"
                  class="sudoku-input"
                />
              </td>
              <td class="A9">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="A9"
                  class="sudoku-input"
                />
              </td>
            </tr>
            <tr>
              <td class="B1">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="B1"
                  class="sudoku-input"
                />
              </td>
              <td class="B2">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="B2"
                  class="sudoku-input"
                />
              </td>
              <td class="B3">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="B3"
                  class="sudoku-input"
                />
              </td>
              <td class="B4">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="B4"
                  class="sudoku-input"
                />
              </td>
              <td class="B5">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="B5"
                  class="sudoku-input"
                />
              </td>
              <td class="B6">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="B6"
                  class="sudoku-input"
                />
              </td>
              <td class="B7">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="B7"
                  class="sudoku-input"
                />
              </td>
              <td class="B8">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="B8"
                  class="sudoku-input"
                />
              </td>
              <td class="B9">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="B9"
                  class="sudoku-input"
                />
              </td>
            </tr>
            <tr>
              <td class="C1">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="C1"
                  class="sudoku-input"
                />
              </td>
              <td class="C2">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="C2"
                  class="sudoku-input"
                />
              </td>
              <td class="C3">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="C3"
                  class="sudoku-input"
                />
              </td>
              <td class="C4">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="C4"
                  class="sudoku-input"
                />
              </td>
              <td class="C5">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="C5"
                  class="sudoku-input"
                />
              </td>
              <td class="C6">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="C6"
                  class="sudoku-input"
                />
              </td>
              <td class="C7">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="C7"
                  class="sudoku-input"
                />
              </td>
              <td class="C8">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="C8"
                  class="sudoku-input"
                />
              </td>
              <td class="C9">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="C9"
                  class="sudoku-input"
                />
              </td>
            </tr>
            <tr>
              <td class="D1">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="D1"
                  class="sudoku-input"
                />
              </td>
              <td class="D2">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="D2"
                  class="sudoku-input"
                />
              </td>
              <td class="D3">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="D3"
                  class="sudoku-input"
                />
              </td>
              <td class="D4">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="D4"
                  class="sudoku-input"
                />
              </td>
              <td class="D5">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="D5"
                  class="sudoku-input"
                />
              </td>
              <td class="D6">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="D6"
                  class="sudoku-input"
                />
              </td>
              <td class="D7">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="D7"
                  class="sudoku-input"
                />
              </td>
              <td class="D8">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="D8"
                  class="sudoku-input"
                />
              </td>
              <td class="D9">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="D9"
                  class="sudoku-input"
                />
              </td>
            </tr>
            <tr>
              <td class="E1">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="E1"
                  class="sudoku-input"
                />
              </td>
              <td class="E2">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="E2"
                  class="sudoku-input"
                />
              </td>
              <td class="E3">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="E3"
                  class="sudoku-input"
                />
              </td>
              <td class="E4">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="E4"
                  class="sudoku-input"
                />
              </td>
              <td class="E5">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="E5"
                  class="sudoku-input"
                />
              </td>
              <td class="E6">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="E6"
                  class="sudoku-input"
                />
              </td>
              <td class="E7">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="E7"
                  class="sudoku-input"
                />
              </td>
              <td class="E8">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="E8"
                  class="sudoku-input"
                />
              </td>
              <td class="E9">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="E9"
                  class="sudoku-input"
                />
              </td>
            </tr>
            <tr>
              <td class="F1">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="F1"
                  class="sudoku-input"
                />
              </td>
              <td class="F2">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="F2"
                  class="sudoku-input"
                />
              </td>
              <td class="F3">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="F3"
                  class="sudoku-input"
                />
              </td>
              <td class="F4">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="F4"
                  class="sudoku-input"
                />
              </td>
              <td class="F5">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="F5"
                  class="sudoku-input"
                />
              </td>
              <td class="F6">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="F6"
                  class="sudoku-input"
                />
              </td>
              <td class="F7">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="F7"
                  class="sudoku-input"
                />
              </td>
              <td class="F8">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="F8"
                  class="sudoku-input"
                />
              </td>
              <td class="F9">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="F9"
                  class="sudoku-input"
                />
              </td>
            </tr>
            <tr>
              <td class="G1">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="G1"
                  class="sudoku-input"
                />
              </td>
              <td class="G2">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="G2"
                  class="sudoku-input"
                />
              </td>
              <td class="G3">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="G3"
                  class="sudoku-input"
                />
              </td>
              <td class="G4">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="G4"
                  class="sudoku-input"
                />
              </td>
              <td class="G5">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="G5"
                  class="sudoku-input"
                />
              </td>
              <td class="G6">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="G6"
                  class="sudoku-input"
                />
              </td>
              <td class="G7">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="G7"
                  class="sudoku-input"
                />
              </td>
              <td class="G8">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="G8"
                  class="sudoku-input"
                />
              </td>
              <td class="G9">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="G9"
                  class="sudoku-input"
                />
              </td>
            </tr>
            <tr>
              <td class="H1">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="H1"
                  class="sudoku-input"
                />
              </td>
              <td class="H2">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="H2"
                  class="sudoku-input"
                />
              </td>
              <td class="H3">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="H3"
                  class="sudoku-input"
                />
              </td>
              <td class="H4">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="H4"
                  class="sudoku-input"
                />
              </td>
              <td class="H5">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="H5"
                  class="sudoku-input"
                />
              </td>
              <td class="H6">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="H6"
                  class="sudoku-input"
                />
              </td>
              <td class="H7">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="H7"
                  class="sudoku-input"
                />
              </td>
              <td class="H8">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="H8"
                  class="sudoku-input"
                />
              </td>
              <td class="H9">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="H9"
                  class="sudoku-input"
                />
              </td>
            </tr>
            <tr>
              <td class="I1">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="I1"
                  class="sudoku-input"
                />
              </td>
              <td class="I2">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="I2"
                  class="sudoku-input"
                />
              </td>
              <td class="I3">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="I3"
                  class="sudoku-input"
                />
              </td>
              <td class="I4">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="I4"
                  class="sudoku-input"
                />
              </td>
              <td class="I5">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="I5"
                  class="sudoku-input"
                />
              </td>
              <td class="I6">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="I6"
                  class="sudoku-input"
                />
              </td>
              <td class="I7">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="I7"
                  class="sudoku-input"
                />
              </td>
              <td class="I8">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="I8"
                  class="sudoku-input"
                />
              </td>
              <td class="I9">
                <input
                  autocomplete="disabled"
                  type="text"
                  size="1"
                  maxlength="1"
                  id="I9"
                  class="sudoku-input"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-container">
        <textarea rows="10" cols="85" id="text-input"></textarea>
        <br />
        <input type="button" value="Solve" id="solve-button" />
        <input type="button" value="Reset" id="clear-button" />
        <div id="error-msg"></div>
      </div>
    </div>
  </body>
  <script>
    let textArea = document.getElementById("text-input");
    let solveButton = document.getElementById("solve-button");
    let clearButton = document.getElementById("clear-button");

    const puzzlesAndSolutions = [
      [
        "1.5..2.84..63.12.7.2..5.....9..1....8.2.3674.3.7.2..9.47...8..1..16....926914.37.",
      ],
      [
        "5..91372.3...8.5.9.9.25..8.68.47.23...95..46.7.4.....5.2.......4..8916..85.72...3",
      ],
      [
        "..839.7.575.....964..1.......16.29846.9.312.7..754.....62..5.78.8...3.2...492...1",
      ],
      [
        ".7.89.....5....3.4.2..4..1.5689..472...6.....1.7.5.63873.1.2.8.6..47.1..2.9.387.6",
      ],
      [
        "82..4..6...16..89...98315.749.157.............53..4...96.415..81..7632..3...28.51",
      ],
      [
        ".2..........6....3.74.8.........3..2.8..4..1.6..5.........1.78.5....9..........4.",
      ],
      [
        "..3.2.6..9..3.5..1..18.64....81.29..7.......8..67.82....26.95..8..2.3..9..5.1.3..",
      ],
      [
        ".....6....59.....82....8....45........3........6..3.54...325..6..................",
      ],
      [
        "53..7....6..195....98....6.8...6...34..8.3..17...2...6.6....28....419..5....8..79",
      ],
    ];

    let grid = puzzlesAndSolutions[Math.floor(Math.random() * 5)][0];
    let sudokuInputs = document.getElementsByClassName("sudoku-input");

    function range(size, startAt = 0) {
      return [...Array(size).keys()].map((i) => i + startAt);
    }

    document.addEventListener("DOMContentLoaded", () => {
      // Load a simple puzzle into the text area
      textArea.value = grid;
      grid.split("").forEach((ele, idx) => {
        sudokuInputs[idx].value = /[1-9]/.test(ele) ? ele : "";
      });
      //console.log(textArea.value)
    });
    //console.log(sudokuInputs)

    // Using Array.from to convert sudokuInputs into an array as forEach only works with Arrays.
    Array.from(sudokuInputs).forEach((ele, idx) => {
      // Do stuff here
      ele.addEventListener("change", (event) => {
        let changedChar = /[1-9]/.test(ele.value) ? ele.value : ".";
        let newText =
          textArea.value.slice(0, idx) +
          changedChar +
          textArea.value.slice(idx + 1, textArea.value.length);
        textArea.value = newText;
      });
    });

    clearButton.addEventListener("click", () => {
      // Load a simple puzzle into the text area
      textArea.value =
        ".................................................................................";
      Array.from(sudokuInputs).forEach((ele, idx) => {
        ele.value = "";
      });
      document.getElementById("error-msg").innerHTML =
        "<span style='color: white'>Cleared</span>";
    });

    function solveSudoku() {
        let sudokuString = textArea.value;
        let rowsArray = [[], [], [], [], [], [], [], [], []];
        let columnsArray = [[], [], [], [], [], [], [], [], []];
        let gridsArray = [[], [], [], [], [], [], [], [], []];
        let boardState = [];

        sudokuString.split("").forEach((ele, idx) => {
          let rowIdx = Math.floor(idx / 9);
          let columnIdx = idx % 9;
          let gridIdx = (Math.floor(idx / 3) % 3) + Math.floor(idx / 27) * 3;

          rowsArray[rowIdx].push(ele);
          columnsArray[columnIdx].push(ele);
          gridsArray[gridIdx].push(ele);

          let pointObj = {
            index: idx,
            value: ele,
            row: rowIdx,
            column: columnIdx,
            grid: gridIdx,
          };
          boardState.push(pointObj);
        });

        console.log("Initial boardState", boardState);
        //check if duplicate in initial boardState:
        for (let i in boardState) {
          let pos = boardState[i];
          //console.log(String(pos.value))
          let checkIfDuplicate =
            rowsArray[pos.row].filter((item) =>
              item == pos.value ? true : false
            ).length > 1 ||
            columnsArray[pos.column].filter((item) =>
              item == pos.value ? true : false
            ).length > 1 ||
            gridsArray[pos.grid].filter((item) =>
              item == pos.value ? true : false
            ).length > 1;
          if (boardState[i].value != ".") {
            if (checkIfDuplicate) {
              return false
            }
          }
          //console.log(boardState[i].value)
        }

        let currentIdx = 0;
        let lastModifiedIdxArray = [];
        let lastModifiedValArray = [];
        let backtracked = false;

        while (currentIdx < 81) {
          let pos = boardState[currentIdx];
          //let lastUsedNum = 1;
          if (pos.value == ".") {
            selectNum: for (var i = 1; i < 11; i++) {
              if (backtracked) {
                backtracked = false;
              }
              if (i < 10) {
                let ans = String(i);
                let checkIfValid =
                  !rowsArray[pos.row].includes(ans) &&
                  !columnsArray[pos.column].includes(ans) &&
                  !gridsArray[pos.grid].includes(ans);
                if (checkIfValid) {
                  pos.value = ans;
                  rowsArray[pos.row][pos.column] = ans;
                  columnsArray[pos.column][pos.row] = ans;
                  gridsArray[pos.grid][
                    (pos.column % 3) + 3 * (pos.row % 3)
                  ] = ans;
                  lastModifiedValArray.push(i);
                  lastModifiedIdxArray.push(currentIdx);
                  backtracked = false;
                  break selectNum;
                }
              } else {
                //Handles running out of available nums and needing to backtrack
                //console.log(`Backtracked from pos ${currentIdx} to pos ${lastModifiedIdxArray[lastModifiedIdxArray.length - 1]}`)
                backtracked = true;
                //console.log(lastModifiedIdxArray)
                currentIdx =
                  lastModifiedIdxArray[lastModifiedIdxArray.length - 1];
                
                lastModifiedIdxArray.pop();
                if (typeof currentIdx == 'undefined') {
                  return "no solution"
                }
                pos = boardState[currentIdx];
                //console.log(currentIdx)
                pos.value = ".";
                rowsArray[pos.row][pos.column] = ".";
                columnsArray[pos.column][pos.row] = ".";
                gridsArray[pos.grid][(pos.column % 3) + 3 * (pos.row % 3)] =
                  ".";
                i = lastModifiedValArray[lastModifiedValArray.length - 1];
                lastModifiedValArray.pop();
                continue;
              }
            }
          }

          currentIdx += 1;
        }

        // displays final solution
        return boardState;
      }
    solveButton.onclick = function (){
    //solveButton.onclick = function() {
      //Start timing
      

      //Return error if input invalid
      if (textArea.value.length != 81) {
        return (document.getElementById("error-msg").innerHTML =
          "<span style='color: red'>Error: Expected puzzle to be 81 characters long.</span>");
      }

      //Show Loader
      document.getElementById("container").style.display = "none";
      document.getElementById("loader").style.display = "flex";
      
      setTimeout(function() {
        const t0 = performance.now(); 
        
        //Run Solver
        let solution = solveSudoku()

        //Error Handling. Uncomment loader once loader issue fixed
        if (!solution) {
          //document.getElementById("loader").style.display = "none";
          //document.getElementById("container").style.display = "flex"
          return (document.getElementById("error-msg").innerHTML = "<span style='color: red'>Error: Invalid initial input.</span>");
        }
        if (solution == "no solution") {
          //document.getElementById("loader").style.display = "none";
          //document.getElementById("container").style.display = "flex"
          return (document.getElementById("error-msg").innerHTML = "<span style='color: red'>Error: No solution found.</span>");
        }
        console.log("Final boardState", solution);

        //Populate elements with solution
        let solutionString = "";
        for (let idx in solution) {
          solutionString += solution[idx].value;
        }
        textArea.value = solutionString;
        Array.from(sudokuInputs).forEach((ele, idx) => {
          ele.value = solutionString[idx];
        });

        //Hide Loader. Uncomment once loader issue fixed
        document.getElementById("loader").style.display = "none";
        document.getElementById("container").style.display = "flex";
        const t1 = performance.now();
        document.getElementById("error-msg").innerHTML = `<span style='color: lightgreen'>Solved in ${(t1-t0 > 50)?(t1 - t0).toFixed(3):"less than 50"} milliseconds!</span>`;
      }, 50)
      //Stop timing and show performance
      
      
    };
  </script>
</html>
